<div class="container">
  <div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="col-sm-12">
          <h2 style="margin: auto">Manage Users</h2>
          <button
            class="btn btn-danger"
            style="width:100px"
            (click)="openAddModal()"
          >
            Add User
          </button>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped table-dark table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>
              <a class="details" [routerLink]="['/user-details/', user.id]">
                <i
                  class="fa fa-user"
                  aria-hidden="true"
                  title="Details for User {{ user.id }}"
                ></i
              ></a>
            </td>
            <td>{{ user.fname }}</td>
            <td>{{ user.lname }}</td>
            <td>{{ user.email }}</td>
            <td>
              <a class="edit"
                ><i
                  class="material-icons"
                  title="Edit"
                  (click)="openEditModal(user)"
                  >&#xE254;</i
                ></a
              >
              <a class="delete"
                ><i
                  class="material-icons"
                  title="Delete"
                  (click)="deleteUser(user)"
                  >&#xE872;</i
                ></a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
